<%= render :partial => @forum %>
<p>
<%= link_to '修改', edit_forum_path(@forum) %> |
<%= link_to '刪除', @forum, :method=> :delete, :confirm => "Are u sure?" %> |
</p>

<h2>討論文章</h2>
<% if !@posts.empty? %>
<%= link_to '最新', forum_path(@forum,:sort => "new") %>|
<%= link_to '最舊', forum_path(@forum) %><br/>
<% end %>
<div id="posts">
<%= render :partial => @posts%>
<%= will_paginate @posts %>
</div>

<% remote_form_for [@forum, Post.new] do |f| %>
    <p>
    <%= f.label :body, "New post" %><br/>
    <%= f.text_area :body %>
    </p>
    <p><%= f.submit "Add Post" %></p>
<% end %>
<p>
<%= link_to '看全部話題', forums_path %>
</p>
